<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
  <title>Document</title>
</head>
<body>
  <%- include ('partials/_header')%>
  <H3>Login</H3>
  <form action="/login" method="POST">
  <h4>Email Address</h4>
  <label for="email">Email:</label>
  <input type="email" name="email" id ="email">
  <h4>Password</h4>
  <label for="password">Password:</label>
  <input type="password" name="password" id="password">
  <button type="submit">Login</button>
  </form>

</body>
</html>

